.container {

  /* position: fixed;
  top: 0; left: 0;
  bottom: 0;  right: 0;
 */
  display: grid;
  grid-template-rows: 100px 40px auto 40px;
  grid-template-columns: 100px auto;
  grid-template:
    "header header"
    "menu menu"
    "sidebar content"
    "footer footer"
}

.container > header,
.container > footer {
  background-color: navy;
  color: white;
}

.container > header {
  grid-area: header;
  max-height: 100px;

}

.container > nav {
  grid-area: menu;
  max-height: 40px;
  background-color: black;
}

ul.menuItems {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

li.menuItem {
  margin: 0;
  padding: 5px;
  /* display: inline-block; */
  border: 1px solid black;  
  background-color: white;
}

li.menuItem > a {
  text-decoration: none;
}

li.menuItem > a:hover {
  text-decoration: underline;
}

.container > aside {
  grid-area: sidebar;
  height: 200px;
}

.container > #content {
  grid-area: content;
  border: 2px solid green;
  height: 200px;
}

.container > footer {
  grid-area: footer;
  text-align: center;
  max-height: 40px;
}

.container > footer > small {
  margin-top: 10px;
  display: inline-block;
}
